
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0; /* Remove any default margin */
  width: 100%; /* Ensure the body is 100% width */
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto; /* Allow vertical scroll if needed */
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 100%; /* Ensure the app container is full width */
  margin: 0; /* Remove any margins */
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;  /* Use viewport width to ensure full width */
  height: 100vh; /* Use viewport height to ensure full height */
  z-index: -1; /* Keep the video behind the content */
}

.background-container video {
  width: 100%; /* Ensure video takes full width */
  height: 100%; /* Ensure video takes full height */
  object-fit: cover; /* Ensure the video covers the entire container */
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(50%); /* Optionally add brightness filter */
  z-index: -1; /* Keep the video behind other elements */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
